RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_]+)$ index.php?id=$1 [L]

<Files "*.json">
    Order Allow,Deny
    Deny from all
</Files>

Options -Indexes